:root {
  /* colour palettes */
  --black: rgb(69, 71, 75);
  --sage: rgba(73, 94, 87, 0.385);
  --yellow: rgb(244, 206, 20);
  --white: rgb(245, 247, 248);
  --text: rgb(31, 31, 31);

  /* fontSize */
  --sub-heading: 30px;
  --nav: 20px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  /* background-color: var(--sage); */
  background-image: linear-gradient(
    120deg,
    rgba(73, 94, 87, 0.704),
    rgba(73, 94, 87, 0.229)
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  color: var(--text);
}

/* main logo / nav */

header {
  background-color: var(--black);
  height: 30vh;
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
}

.portfolio-head {
  color: var(--yellow);
  font-family: "Allison", cursive;
  font-size: 30px;
}

#nav-bar {
  display: flex;
  align-items: flex-end;
}

nav a {
  color: var(--white);
  text-decoration: none;
  font-size: var(--nav);
  margin: 0.5em;
  margin-left: 20px;
}

nav a:hover {
  cursor: pointer;
  color: var(--yellow);
}

/* hero banner style */

.hero-banner {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: 5em 0;
}

.hero-banner img {
  border-radius: 10px 50px 50px 10px;
}

.hero-banner h2 {
  color: var(--black);
  font-size: var(--sub-heading);
  padding: 2em 1em;
  border-left: 2px solid var(--black);
}

/* about section */

#about {
  width: 50%;
  margin: 0 auto;
  padding: 1em;
  background-color: var(--white);
  border-radius: 10px 50px 50px 10px;
  box-shadow: 5px 5px 10px var(--black);
}

#about h2 {
  color: var(--black);
  padding-bottom: 0.5em;
  font-size: var(--sub-heading);
}

/* portfolio grid section */

#projects {
  width: 75%;
  margin: 6em auto;
}

#projects h2 {
  font-size: var(--sub-heading);
  color: var(--black);
}

#projectsGrid {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 250px 250px 250px;
  grid-template-areas:
    "project1 project1"
    "project2 project3"
    "project4 project4";
}

.project-box {
  text-decoration: none;
  margin: 1em;
  background-color: var(--white);
  border: 2px solid var(--black);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.project-box:hover {
  cursor: pointer;
  filter: hue-rotate(180deg);
  box-shadow: 5px 5px 10px var(--black);
}

.project-tag {
  width: fit-content;
  background-color: var(--yellow);
  border-radius: 10px;
  margin: 0.5em;
  padding: 0.2em;
}

.project-tag h3 {
  font-size: var(--nav);
  color: var(--black);
}

.project-tag p {
  color: var(--text);
}

#project1 {
  grid-area: project1;
  background-image: url(/assets/images/code.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#project2 {
  grid-area: project2;
  background-image: url(/assets/images/books.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#project3 {
  grid-area: project3;
  background-image: url(/assets/images/under-construction.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#project4 {
  grid-area: project4;
  background-image: url(/assets/images/under-construction.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 30%;
}

/* contact section */

#contact {
  width: 75%;
  margin: 0 auto;
  border-top: 2px solid var(--black);
}

#contact h2 {
  font-size: var(--sub-heading);
  color: var(--black);
  margin-top: 1em;
}

#get-in-touch {
  display: flex;
  justify-content: space-evenly;
  margin: 3em;
}

#get-in-touch a {
  font-size: var(--nav);
  text-decoration: none;
  color: var(--white);
  background-color: var(--black);
  padding: 0.5em;
  border-radius: 10px;
}

#get-in-touch a:hover {
  cursor: pointer;
  color: var(--yellow);
}

/* media query's */

@media only screen and (max-width: 900px) {
  header {
    flex-direction: column;
  }
  .hero-banner {
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 600px) {
  .hero-banner h2 {
    border-left: none;
    padding: 0.5em;
    margin: 0 3em;
  }

  #about,
  #projects {
    width: 90%;
  }

  #projectsGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 250px 250px 250px 250px;
    grid-template-areas:
      "project1"
      "project2"
      "project3"
      "project4";
  }
}
